@page
@model WebTrackED_CHED_MIMAROPA.Pages.Application.Document.WalkIn.IndexModel
@{
}
@{
    ViewData["Title"] = "Walkin Document";
    var breadcrump_data = new BreadCrumpViewModel
            {
                pageName = "Walkin Document",
                date = DateTime.Now,
                breadCrump = new (string, string?, string, bool, int?)[]
                                                                        {
                ("fa-solid fa-person-walking",null,"Walkin Document",true,null)
                                                                }
            };
          }
@await Component.InvokeAsync("BreadCrump", breadcrump_data)
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-12">
            <div class="bg-white shadow rounded-3 overflow-hidden mb-lg-0 mb-4">
                <h5 class="bg-primary text-center py-2 fw-bolder text-white">Scan QR-Code</h5>
                <div class="p-3">
                    <video id="qr-code" class="object-fit-cover w-100 h-100">
                    </video>
                </div>
            </div>
            <form method="get" id="qr-form">
                <input id="ref-code" name="refCode" class="form-control mt-3 mb-2 text-center" placeholder="Enter manually the refference number/code..." />
                <button class="w-100 btn btn-primary mb-2">Submit</button>
            </form>
        </div>
        <div class="col-lg-6 col-12">

            <div class="d-flex flex-column justify-content-center align-items-center gap-2 h-100">
                @if (!string.IsNullOrEmpty(Model.RefCode))
                {
                    @if (Model.IsWalkIn)
                    {
                        <a asp-route-prevPage="@("/Application/Document/WalkIn/Index")" asp-page="/Application/Document/ViewDocs" asp-route-pId="@(int.Parse(Model.RefCode))" class="btn btn-warning w-50 rounded-pill py-2 text-white">View Document <i class="fa fa-eye"></i></a>
                        <a asp-route-prevPage="@("/Application/Document/WalkIn/Index")" asp-page="/Application/Document/DocumentTracking" asp-route-pId="@(int.Parse(Model.RefCode))" class="btn btn-info w-50 rounded-pill py-2 text-white">View Document Tracking <i class="fa fa-chart-bar"></i></a>
                    }
                    else
                    {
                        
                        <i class="fa fa-circle-exclamation fs-1 text-secondary"></i>
                        <h6 class="text-body-tertiary fs-4 text-center fw-light">Please manually enter the valid reference code or scan the valid QR code.</h6>
                    }

                }
                else
                {
                    <i class="fa-regular fa-file fs-1 text-secondary"></i>
                    <h6 class="text-body-tertiary fs-4 text-center fw-light">Please enter the reference code manually or scan the QR code</h6>
                }
            </div>



        </div>
    </div>
</div>
@section Scripts {
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script>
        let scanner = new Instascan.Scanner({ video: document.querySelector('#qr-code') });
        let currentCamera = null;

        function isMobileDevice() {
            return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
        }

        $(function () {
            Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    if (isMobileDevice()) {
                        // Select the back camera on mobile devices
                        currentCamera = cameras.find(camera => camera.name.toLowerCase().includes('back')) || cameras[0];
                    } else {
                        // Select the first available camera (usually the webcam) on desktops
                        currentCamera = cameras[0];
                    }
                    scanner.start(currentCamera);
                } else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });

            scanner.addListener('scan', function (qr_data) {
                if (qr_data != null) {
                    $("#ref-code").val(qr_data);
                    $("#qr-form").submit();
                }
            });
        });
    </script>

}
