@model SidebarViewModel

<div class="bg-white border-end" id="sidebar">
    <div class="mt-5 px-4">
        <span class="text-secondary text-uppercase fw-bolder mb-4 d-block">Available Menus</span>
        <a class="menus d-block text-decoration-none rounded-3 p-2 active mb-2">
            <i class="fa-solid fa-gauge text-danger p-1 fs-5 rounded bg-white shadow"></i>
        </a>
        <a class="menus d-block text-decoration-none rounded-3 p-2 mb-2">
            <i class="fa-solid fa-gauge text-danger p-1 fs-5 rounded bg-white shadow"></i>
        </a>
        <a class="menus d-block text-decoration-none rounded-3 p-2 mb-2">
            <i class="fa-solid fa-gauge text-danger p-1 fs-5 rounded bg-white shadow"></i>
        </a>
    </div>
</div>