@model UpdatePasswordInputModel
<div class="modal fade" id="update-password-@(Model.UserId)">
    <div class="modal-dialog">
        <form method="post" asp-page-handler="UpdatePassword" asp-route-userId="@Model.UserId">
            <div class="modal-content">
                <div class="modal-header">
                    <h5><i class="fa-solid fa-key"></i> Update password</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="OldPassword" class="fw-bolder mb-2"></label><span class="text-danger">*</span>
                                    <input asp-for="OldPassword" class="form-control" placeholder="Enter here.." />
                                    <span class="text-danger" asp-validation-for="OldPassword"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="Password" class="fw-bolder mb-2"></label><span class="text-danger">*</span>
                                    <input asp-for="Password" class="form-control" placeholder="Enter here.." />
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="ConfirmPassword" class="fw-bolder mb-2"></label><span class="text-danger">*</span>
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Enter here.." />
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-light">Clear</button>
                    <button type="submit" class="btn btn-primary">Update <i class="fa-solid fa-pen"></i></button>
                </div>
            </div>
        </form>
        
       
    </div>
</div>