@page
@model AccessDeniedModel
@{
    Layout = "~/Areas/Identity/Pages/_DeniedAccessLayout.cshtml";

    ViewData["Title"] = "Denied Access";
}
<img class="mb-2"  src="~/image/DeniedAccess.svg" width="200" height="200"/>
<p class="text-primary fs-5 ">You do not have access to this resource.</p>
