@page
@model WebTrackED_CHED_MIMAROPA.Areas.Identity.Pages.Account.EmailConfirmedModel
@{
    Layout = "~/Areas/Identity/Pages/_LoginRegisterLayout.cshtml";
    ViewData["Title"] = "Email Verification";
}

<h6 class="text-white text-center py-2">Please check your email for verification. Thank you! This may take up to 5 minutes.</h6>

