body {
    background: linear-gradient(to right, rgba(55, 59, 68, 0.7), 
    rgba(66, 134, 244, 0.7)), url(../image/CHED_Background.jpg) no-repeat;
    background-size: cover;
}

#login {
    width: 500px;
    background: rgba(255,255,255,.4);
}

@media screen and (max-width: 600px) {
    #login {
        background-color: transparent;
        box-shadow: none!important;
    }

    .text{
        color:white !important; /*making all text will be white in mobile view*/
    }
   
}


