<div class="modal fade" id="refresh">
    <div class="modal-dialog">
        <div class="modal-content py-4">
            <div class="text-center">
                <img src="~/image/RefreshIllustration.svg" width="60" height="60" />
                <h4 class="fw-bolder mt-3">Refresh Message</h4>
                <input type="hidden" name="Id">
                <p class="text-secondary mt-3">Are you sure you want to continue?</p>
            </div>
            <div class="border-0 gap-2 mt-3 d-flex justify-content-center">
                <form method="get" asp-page-handler="RetreivedAll"> 
                    <button type="submit" class="btn btn-info rounded-circle text-white"><i class="fa-solid fa-check-double"></i></button>
                </form>
                <button type="button" class="btn btn-danger rounded-circle" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </div>
</div>