<div class="modal fade" id="delete-account">
    <div class="modal-dialog">
        <div class="modal-content py-4">
            <div class="text-center">
                <img src="~/image/deleteModal.svg" width="60" height="60" />
                <h4 class="fw-bolder mt-3">Delete Account</h4>
                <input type="hidden" name="Id">
                <p class="text-secondary mt-3">Are you sure you want to delete this account?</p>
            </div>
            <div class="border-0 gap-2 mt-3 d-flex justify-content-center">
                <a  class="btn btn-info rounded-circle text-white"><i class="fa-solid fa-check-double"></i></a>
                <button type="button" class="btn btn-danger rounded-circle" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </div>
</div>